* {
    margin: 0;
    padding: 0;
}

/* fonts styles */
.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.75rem;
    padding: 10px 60px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* id styles */

#blue-a {
    color: #64C8FF;
}

#yellow-a {
    color: #F0AA00;
}

#violet-a {
    color: #8700FF;
}

#blue {
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border: 1px solid rgba(222, 245, 255, 1);
}
#yellow {
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border: 1px solid rgba(255, 244, 220, 1);
}
#violet {
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border: 1px solid rgba(238, 225, 255, 1);
}

/* fonts color */
.orange {
    color: #FEA301;
}

.sky-blue {
    color: #01ACFD;
}

.terq {
    color: #05D4DF;
}

.purple {
    color: #5D58EF;
}

.black {
    color: #111111;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.25rem auto;
    width: 95%;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    height: 62px;
    width: 62px;
}

.brand h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-left: .75rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.span {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.org-btn {
    background-color: #FEA301;
}

/* banner styles */
.banner-container {
    width: 30%;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.banner h3 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.75rem;
}

.banner p {
    font-size: 1.2rem;
    font-weight: normal;
    color: black;
    margin: 24px auto;
}

/* Standard Curriculum section */

.sc-head {
    margin: 60px auto 80px;
}

.sc {
    font-weight: bold;
    font-size: 2.85rem;
    color: #000000;
}

/* sc shared cards design */
.sc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    margin: auto;
}

.card {
    border-radius: 19px;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    padding: 53px 41px;
    width: 23rem;
}

.card h3 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #202020;

}

.card p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #808080;
}

.card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.75rem;
}

/* responsive design */

@media screen and (max-width: 576px) {

    /* div,
    header,
    section,
    nav{
        border: 1px solid black;
    } */

    nav,
    nav ul {
        flex-direction: column;
    }

    nav {
        gap: 1rem;
        border-bottom: 1px solid #FEA301;
        padding-bottom: 1rem;
    }

    .banner-container {
        text-align: center;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner h3 {
        font-size: 2rem;
        line-height: auto;
    }

    .banner p {
        font-size: 0.8rem;
        line-height: auto;
    }

    .banner-container {
        width: 95vw;
    }

    .hero-img {
        width: 90vw;
    }
}